
body{
    margin: 0px;
    background-image: url(../images/website-background.jpg);
    background-color: black;
    background-size: auto;
    
}
.headshot{
    width: 350px;
    float: center;
}

.image-title{
    display: block;
    font-size: xx-large;
    margin-bottom: 20px;
    font-size: 50px;
    margin-top: 25px;
}

.main-paragraph{
    margin-top: 25px;
    display: block;
    clear: both;
    margin-bottom: 50px;
}

main{
    font-size: larger;
    color: white;
    list-style-type: none;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    line-height: 2;
}

h1{ 
    background-image: url(../images/website-background-medium.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-color: black;
    
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    padding-top: 30px;

}

.navbar ul{
    background-image: url(../images/website-background-medium.jpg);
    background-size: 50% 50%;

    background-size: cover;

    background-color: black;
    list-style-type: none;
    font-size: 30px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color:white;
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    padding: 15px;
    display: flex;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(56, 56, 56);
    transition: color 0.2s;
}
.navbar li{
    float: left;
}

.container{
    width: 80%;
    margin: 50px auto;
    font-family: Helvetica;
}

.contact-box{
    background-color:rgb(113, 156, 173);
    display: flex;
}
.contact-left{
    flex-basis:60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis:60%;
    padding: 40px;
    background-color: rgb(192, 192, 192)
}

h2{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom:  1px solid #ccc;
    outline: none;
    padding: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline:none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
button{
    width: 80px;
    height: 35px;
    margin-top: 20px;

}

.contact-left h3{
    color:black;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}

.social-links li{
    display: inline;
    float: right;
    text-decoration: none;
    margin-top: 4px;
}



@media only screen and (max-width: 800px) {
    body{
        margin: 0px;
        background-image: url(../images/website-background.jpg);
        background-color: black;
        background-size: auto;
        
    }

    .headshot{
        width: 200px;
        float: center;
    }

    .image-title{
        float: center;
        font-size: 25px;
        margin-top: 25px;
    }

    .main-paragraph{
        margin-top: 25px;
        display: block;
        clear: both;
        font-size: 10px;
        margin-bottom: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar ul{
        background-image: url(../images/website-background-medium.jpg);
        background-size: auto;
        list-style-type: none;
        background-color: black;
        font-size: 12px;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
    
    .navbar a {
        color:white;
        text-decoration: none;
        font-family: Helvetica;
        font-weight: bold;
        padding: 6px;
        display: flex;
        text-align: center;
    }

    h1{ 
        background-image: url(../images/website-background-medium.jpg);
        background-size: auto;
        color: white;
        text-align: center;
        font-family: Helvetica;
        font-size: 30px;
        background-color: rgb(113, 156, 173);
        margin: 0px;
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 15px;
    
    }

    .social-links li{
        display: inline;
        float: right;
        text-decoration: none;
        margin-top: 4px;
    }

    main{
        color: white;
        list-style-type: none;
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        line-height: 2;
    }

    .contact-box{
        background-color:rgb(113, 156, 173);
        display: block;
    }

    .contact-left{
        flex-basis:60%;
        padding: 40px 30px;
    }

    .contact-right h3{
        font-weight: 600;
        margin-bottom: 30px;
    
    }

    .contact-right table td a {
        display: inline-block;
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    tr td:first-child{
        padding-right: 5px;
    }
    
    tr td{
        padding-top: 20px;
    }
    
}

